body {
  font-family: "Montserrat-light";
  text-align: center;
}

/* Heading Section */
.big-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

/* Container-fluid inside #title is overriden */
#title .container-fluid {
  padding: 3% 7% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

/* Navitation bar */
.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1.2rem;
}

/* Downlaod Buttons */
.download-button {
  margin: 5% 3% 8% 0;
}

/* Title Image */
.title-img {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 18%;
}
@media (max-width: 992px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Features */

#features {
  background-color: white;
  position: relative;
  /* we could technically remove the z-index because #features is after my iphone image */
  z-index: 1;
}
.feature-title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.col-features {
  padding: 2% 5%;
}
.feature-img {
  color: #ef8172;
  margin-bottom: 0.5rem;
}
.feature-img:hover {
  color: #ff4c68;
}

.feature-text {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 150px;
  margin: 0 15px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}

/* call to action section */
#cta {
  background-color: #ff4c68;
}

.download-cta-button {
  margin: 2%;
}

/* footer */
#footer {
  margin: 3% 0;
}
.footer-fab {
  margin: 0 1rem 1rem 0;
}
.copyright-text {
  color: #808080;
}
